h1{font-family: Arial, Helvetica, sans-serif;
color:red; 
font-style: italic;
text-decoration: underline;
text-align:center;}



#jv {color:green;

}

.minhaclasse{color:blue;font-size: 30px;} 
body{background-color:yellow}

